.nav{
  list-style-type: none;
  display: flex;
  background-color: rgb(48, 47, 46);

  height: 80px;

}
 .active{
   font-weight: bold;
   
 }
.nav li{
  margin-top:42px;
  margin-right: 15px;
  color:rgb(2, 5, 0);
}
.nav li a{
  color:white;
}
.footer{
  height:60px;
  background-color: rgb(2, 5, 0);


}
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
